@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-family: "Montserrat";
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

@keyframes apparition {
    100%{
      opacity: 1;
      transform: none;
    }
  }